<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">

	<display-name>Public API Test Endpoints</display-name>

	<description>
		Simple Java web application that exposes test endpoints and logs incoming request parameters.
	</description>

	<listener>
		<listener-class>com.interzonedev.pretendpoint.web.PretendPointRequestListener</listener-class>
	</listener>

	<filter>
		<filter-name>pretendPointFilter</filter-name>
		<filter-class>com.interzonedev.pretendpoint.web.PretendPointFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>pretendPointFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>springServlet-pretendpoint</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/servletContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springServlet-pretendpoint</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
